@tailwind base;
@tailwind components;
@tailwind utilities;

/* Code Blocks (Pre) */
pre {
    @apply bg-stone-800 rounded-md p-4 border border-stone-700 overflow-x-auto;
    white-space: pre-wrap;
    word-break: break-all;
    overflow-wrap: break-word;
}

@layer base {
  /* 1. REMOVE BACKTICKS forced by tailwind-typography */
  .prose :where(code):not(:where(pre *))::before {
    content: "" !important;
  }
  .prose :where(code):not(:where(pre *))::after {
    content: "" !important;
  }
}

/* Select any <code> block that is not inside a <pre> block,
so that elements in md styled `like this` will standout */
code:not(pre > code) {
    @apply text-white bg-stone-800 px-1.5 py-0.5 rounded border border-stone-700/50 shadow-sm font-semibold text-[0.9em];
    white-space: nowrap; 
}

/* Links */
article a:not(.about-the-author) {
    color: #006b5e;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

article a:hover {
    @apply text-teal-300 underline decoration-2 underline-offset-4;
}

article a:focus:not(.about-the-author) {
    @apply outline-dashed outline-2 outline-offset-2 outline-teal-400;
}

ol {
    list-style-type: decimal;
    margin-left: 1.5em;
    @apply marker:text-stone-500;
}

ul {
    list-style-type: disc;
    margin-left: 1.5em;
    @apply marker:text-stone-500;
}
